<footer class="bg-gray-900 text-gray-400 py-8 mt-12">
  <div class="container mx-auto px-4 text-center">
    <p class="mb-4">&copy; {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.</p>
    <div class="flex justify-center space-x-4">
      <a href="https://sanmaojichan.github.io" title="三毛机场" class="hover:text-white transition">三毛机场</a>
      <a href="https://sanmaojichan.github.io" title="三毛机场官网地址" class="hover:text-white transition">三毛机场官网地址</a>
      <a href="https://sanmaojichan.github.io" title="三毛机场官网入口" class="hover:text-white transition">三毛机场官网入口</a>
      <a href="https://clashtorwindows.github.io" title="shadowrockets windows" class="hover:text-white transition">shadowrockets windows</a>
      <a href="https://clashtorwindows.github.io" title="小火箭节点" class="hover:text-white transition">小火箭节点</a>
      <a href="https://clashtorwindows.github.io" title="小火箭windows版" class="hover:text-white transition">小火箭windows版</a>
      <a href="https://clash-for-android.github.io/" title="clash for android" class="hover:text-white transition">clash for android</a>
      <a href="https://clash-for-android.github.io/" title="飞机场节点" class="hover:text-white transition">飞机场节点</a>
      <a href="https://clash-for-android.github.io/" title="节点推荐" class="hover:text-white transition">节点推荐</a>
    </div>
  </div>
</footer>
